# Claude Code SDK
OPENAI_BASE_URL=https://api-inference.modelscope.cn
OPENAI_API_KEY=
OPENAI_MODEL=moonshotai/Kimi-K2.5

#ANTHROPIC_BASE_URL=
#ANTHROPIC_AUTH_TOKEN=
#ANTHROPIC_MODEL=kimi-k2.5

# 钉钉
DINGTALK_WEBHOOK_URL=https://oapi.dingtalk.com/robot/send?access_token=
#DINGTALK_WEBHOOK_SECRET=
# Claude Code 工作目录（本地测试时指向被审查的代码仓库）
AIR_WORK_DIR=/workspace
# 本地测试
REPO_PATH=/Path/To/Code

CI_COMMIT_SHA=406cf05a
CI_COMMIT_BEFORE_SHA=406cf05a
CLAUDE_MAX_TURNS=30
